@page
@model ProyectoMSD.Pages.Configuraciones.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Configuracione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuracione.Idioma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuracione.Idioma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuracione.Alertas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuracione.Alertas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuracione.Automatizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuracione.Automatizacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuracione.Adaptador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuracione.Adaptador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuracione.IdDispositivosNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuracione.IdDispositivosNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuracione.IdUsuariosNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuracione.IdUsuariosNavigation.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Configuracione.Codigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
