@page
@model ProyectoMSD.Pages.Espacios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Espacio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espacio.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espacio.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espacio.Ubicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espacio.Ubicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espacio.Señal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espacio.Señal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espacio.Permisos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espacio.Permisos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espacio.IdPropiedadesNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espacio.IdPropiedadesNavigation.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Espacio.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
